@import "~bootstrap/scss/bootstrap";
@import "admin-lte";
@import 'sweetalert2/src/sweetalert2.scss';
@import "toastr";

$brand: #ff5a5f;
$brand-color: #ff5a5f;

@import "login.scss";
@import "sidebar.scss";
