<div id="footer">
  <div class="container">
    <div class='row flex-column-reverse flex-md-row align-items-center'>
      <div class="col-md-6 text-center text-md-left mt-3 mt-md-0">
        <strong>Copyright © 2025</strong>
        All rights reserved.
      </div>
      <div class="col-md-6 text-center text-md-right">
        <div class="social d-flex justify-content-center justify-content-md-end">
          <a href="https://www.facebook.com/Joyful-Restaurant-144116265631488" target="_blank" class="social-icon">
            <i class="fab fa-facebook fa-lg" style="color: #4c6ef5;"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .social-icon {
    display: inline-block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
  }
  
  .social-icon:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background-color: #e9ecef;
  }
</style>
