<body id="page-top" data-spy="scroll" data-target=".scroll-target" data-offset="100">
  <!-- Header -->
  <header id="header">
    <div class="intro">
      <div class="overlay">
        <div class="container">
          <div class="">
            <div class="intro-text">
              <h1>Joyful</h1>
              <p>Reservations: </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Features Section -->
  <div id="features" class="text-center">
    <div class="container">
      <div class="section-title">
        <h2>Our Specials</h2>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="features-item">
            <div class="icon">
              <i class="far fa-map circle fa-2x"></i>
            </div>
            <h3>Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="features-item">
            <div class="icon">
              <i class="fas fa-phone circle fa-2x"></i>
            </div>
            <h3>Consectetur adipiscing</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="features-item">
            <div class="icon">
              <i class="far fa-clock circle fa-2x"></i>
            </div>
            <h3>Duis sed dapibus</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sed commodo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team Section -->
  <div id="team">
    <div class="container">
      <div id="row">
        <div class="col-md-12 col-lg-12">
          <div class="iframe-rwd">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="1140" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=102%20Riccarton%20Road,%20Riccarton,%20Christchurch&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:1140px;}</style><a href="https://www.embedgooglemap.net">add google maps to html</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:1140px;}</style></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
