  <!-- Header -->
  <header id="header">
    <div class="menu" style="<%= background_image_style(:menu_image, 'menu-bg.jpg') %>">
      <div class="overlay">
        <div class="container">
          <div class="">
            <div class="intro-text">
              <span class="page-title">Menu</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Restaurant Menu Section -->
  <div id="restaurant-menu">
    <div class="container">
      <div class="section-title text-center">
        Menu
      </div>
      
      <!-- DishGroup -->
      <% @dish_groups_array.each do |group_data| %>
        <%= render 'dish_group_section', group_data: group_data %>
      <% end %>
      
      <!-- 
      <% if @dish_groups_array.empty? %>
        <% @dishes_types_array.each do |type_dishes| %>
          <%= render 'dish_section', type_dishes: type_dishes %>
        <% end %>
      <% end %>  -->
    </div>
  </div>
