  <!-- Header -->
  <header id="header">
    <div class="menu">
      <div class="overlay">
        <div class="container">
          <div class="">
            <div class="intro-text">
              <span class="page-title">Menu</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Restaurant Menu Section -->
  <div id="restaurant-menu">
    <div class="container">
      <%# <div class="section-title text-center">
        Menu
      </div> %>
      <% @all_types.each do |dish_type| %>
        <%= render 'dish_section', dish_type: dish_type %>
      <% end %>
    </div>
  </div>