  <!-- Header -->
  <header id="header">
    <div class="menu">
      <div class="overlay">
        <div class="container">
          <div class="">
            <div class="intro-text">
              <span class="page-title">Menu</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Restaurant Menu Section -->
  <div id="restaurant-menu">
    <div class="container">
      <div class="section-title text-center">
        Menu
      </div>
      <% @dishes_types_array.each do |type_dishes| %>
        <%= render 'dish_section', type_dishes: type_dishes %>
      <% end %>
    </div>
  </div>
