.menu {
	display: table;
	width: 100%;
	height: 50vh;
	padding: 0;
	// background: url(../image/home/menu-bg.jpg) center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.menu .intro-text {
  height: 50vh;
	padding-top: 100px;
	padding-bottom: 50px;
	text-align: center;
}

.menu .page-title {
	font-family: 'Rochester', cursive;
	color: #fff;
	font-size: 8rem;
	font-weight: 400;
	margin-top: 0;
}

.menu-section-title-after {
	width: 10%;
	height: 4px;
	margin: 20px auto 50px;
	border-top: 1px solid #dfa25f;
	border-bottom: 1px solid #dfa25f;
}

@media (max-width: 767px) {
  .menu .page-title {
		font-size: 6rem;
	}
}
